body {background-image: url(bg.jpg);}
h1 {color:white;font-size:45px;}
h1{text-shadow: 5px 5px 5px #A9A9A9;}
img{width: 300px}
p{color: #66CDAA}
h2{color: hotpink}
body {
 width: 960px;
 margin-left: auto;
 margin-right: auto;
}
#center {
 display: table;
 width: 948px;
}
#nav, #content {
 display: table-cell;
}
#nav {
 width: 150px;
}
#header {
 color:white;font-size: 40px；
} 
#nav {color: white}
 div #A{color:#66CDAA}
img {
 float: left;
}
